{{ define "main" }}

    <main class="print-gallery">

        <header class="print-gallery__header">
            <h1 class="print-gallery__heading">{{ .Title }}</h1>
            <p class="print-gallery__summary">{{ .Summary }}</p>
        </header>

        {{ range $index, $image := (.Resources.Match "img/*.jpg") }}
            {{ $isFirst := eq $index 0 }}
            {{ $thumb := cond $isFirst ($image.Resize "1200x q85") ($image.Resize "2400x q85") }}
            <div class="print-gallery__item">
                <a class="print-gallery__image-container image-container {{ cond $isFirst "image-container--1:1" "image-container--2:1" }}" href="{{ $image.Permalink }}">
                    <img class="print-gallery__image image-container__source image-container__source--saturated" src="{{ $thumb.Permalink }}">
                </a>
            </div>
        {{ end }}

    </main>

{{ end }}