{{ define "main" }}
<main class="workshop">

    <header class="workshop__header header">

        {{ with .Resources.GetMatch "thumb.*" }}
            {{ $image := .Fill "1200x800 center q50" }}
            <figure class="header__image-container">
                <img class="header__image" src="{{ $image.Permalink }}" role="presentation">
                {{ with $.Page.Params.photoDesc }}
                    <figcaption class="header__caption"><a href="{{ $.Page.Params.photoUrl }}" target="_blank">{{ . | safeHTML }}</a></figcaption>
                {{ end }}
            </figure>
        {{ end }}

        <div class="header__content">
            <h1 class="header__title">{{ .Title }}</h1>
            <p class="header__summary">
                {{ .Summary | plainify | safeHTML }}
            </p>
        </div>

    </header>

    <div class="workshop__layout">

        <aside class="workshop__aside">
            {{ $id := path.Dir .RelPermalink }}
            {{ $now := now.Format "2006-01-02" }}
            {{ $workshops_in_language := where .Site.Data.workshops "lang" (print .Language) }}
            {{ $workshops_in_language = .Site.Data.workshops }}
            {{ $relevant_workshops := where ($workshops_in_language) "id" $id }}
            {{ $upcoming_workshops := where ($relevant_workshops) "date" "ge" $now }}
            {{ $past_workshops := where ($relevant_workshops) "date" "lt" $now }}

            <section class="box workshop-info">
                {{ with index $upcoming_workshops 0 }}
                    <ul class="workshop-info__list">
                        <li class="workshop-info__item"><strong class="workshop-info__heading">{{ i18n "nextDate" }}</strong> {{ (time .date).Format (i18n "dateFormat") }}, {{ .hours }}</li>
                        <li class="workshop-info__item"><strong class="workshop-info__heading">{{ i18n "venue" }}</strong> {{ .location | safeHTML }}</li>
                        <li class="workshop-info__item"><strong class="workshop-info__heading">{{ i18n "price" }}</strong> {{ .price | safeHTML }} <em>{{ i18n "excVAT" }}</em></li>
                    </ul>
                    <a href="{{ .url }}" class="button workshop-info__register">{{ i18n "register" }}</a>
                    <p class="workshop-info__desc">{{ i18n "rootNote" }}</p>
                {{ end }}
            </section>

            <!-- <section class="workshops-dates">
                <h2 class="workshops-dates__heading">Termíny</h2>
                <ul class="workshops-dates__list">
                    {{ range $relevant_workshops }}
                        {{ $is_past := lt .date $now }}
                        <li class="workshops-dates__item {{ if $is_past }}workshops-dates__item--past{{ end }}">{{ (time .date).Format (i18n "dateFormat") }}</li>
                    {{ end }}
                </ul>
            </section> -->

        </aside>

        {{ $dropcap := substr (index (split .Content "<p>") 1) 0 1 }}
        <div class="content workshop__content" data-drop-cap="{{ $dropcap }}">
            {{ .Content }}
        </div>

    </div>

</main>
{{ end }}