{{ define "main" }}
<div class="section">

    <section class="section__content">

        <h1 class="section__heading">{{ .Title }}</h1>

        {{ range .Pages }}
            <section class="spot">
                {{ with .Resources.GetMatch "thumb.jpg" }}
                    {{ $image := .Resize "300x q75" }}
                    <img class="spot__image" src="{{ $image.Permalink }}" role="presentation">
                {{ end }}
                <div class="spot__content">
                    <header class="spot__header">
                        <time class="spot__date">{{ .Date.Format (i18n "dateFormat") }}</time>
                        {{ with .Params.tags }}
                            <ul class="lede__tags">
                                {{ range . }}
                                    <li>{{ . }}</li>
                                {{ end }}
                            </ul>
                        {{ end }}
                    </header>
                    <h3 class="spot__heading">{{ .Title }}</h3>
                    <p class="spot__desc">{{ .Summary | plainify }}</p>
                    <a href="{{ .Permalink }}" class="spot__link"></a>
                </div>
            </section>
        {{ end }}

    </section>

</div>
{{ end }}