{{ define "main" }}
<main class="article">

    <header class="article__header header">

        {{ with .Resources.GetMatch "thumb.*" }}
            {{ $image := .Fill "1200x800 q50" }}
            <figure class="header__image-container">
                <img class="header__image" src="{{ $image.Permalink }}" role="presentation">
                {{ with $.Page.Params.photoDesc }}
                    <figcaption class="header__caption"><a href="{{ $.Page.Params.photoUrl }}" target="_blank">{{ . | safeHTML }}</a></figcaption>
                {{ end }}
            </figure>
        {{ end }}

        <div class="header__content">
            <h1 class="header__title">{{ .Title }}</h1>
            <div class="header__meta">
                <time class="header__date">{{ .Date.Format (i18n "dateFormat") }}</time>
                {{ with .Keywords }}
                    <ul class="header__tags tags">
                        {{ range . }}
                            <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                {{ end }}
            </div>
        </div>

    </header>

    {{ $dropcap := substr (index (split .Content "<p>") 1) 0 1 }}
    <section class="article__content content content--longform" data-drop-cap="{{ $dropcap }}">
        {{ .Content }}

        {{ with .Site.RegularPages.Related . | first 3 }}
            <aside class="article__related-articles related-articles">
                <h2 class="related-articles__heading">{{ i18n "relatedArticles" }}</h2>
                <ul class="related-articles__list">
                    {{ range . }}
                        <li class="related-articles__item spot spot--small">
                            {{ with .Resources.GetMatch "thumb.*" }}
                                {{ $image := .Fill "400x400 center q75" }}
                                <div class="spot__image-container spot__image-container--square">
                                    <img class="spot__image" src="{{ $image.Permalink }}" role="presentation">
                                </div>
                            {{ end }}
                            <div class="spot__content">
                                <header class="spot__header">
                                    <time class="spot__date">{{ .Date.Format (i18n "dateFormat") }}</time>
                                    {{ with .Keywords }}
                                        <ul class="spot__tags tags">
                                            {{ range . }}
                                                <li>{{ . }}</li>
                                            {{ end }}
                                        </ul>
                                    {{ end }}
                                </header>
                                <h3 class="spot__heading">{{ .Title }}</h3>
                                <p class="spot__desc">{{ .Summary | plainify | safeHTML }}</p>
                                <a href="{{ .Permalink }}" class="spot__link"></a>
                            </div>
                        </li>
                    {{ end }}
                </ul>
            </aside>
        {{ end }}
    </section>

</main>
{{ end }}