{{ define "main" }}
<article class="article">

    <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0">
        <filter id="noise" x="0%" y="0%" width="100%" height="100%" filterUnits="userSpaceOnUse">
            <feTurbulence baseFrequency="0.1 0.2" result="f1" numOctaves="3" />
            <feDisplacementMap in="SourceGraphic" in2="f1" scale="10"></feDisplacementMap>
        </filter>
        <filter id="roughpaper" x="0%" y="0%" width="100%" height="100%">

            <feTurbulence type="fractalNoise" baseFrequency="0.1" result="f1" numOctaves="5" />

            <feDiffuseLighting in="f1" lighting-color="white" result="f2" surfaceScale="10">
                <feDistantLight azimuth="45" elevation="80" />
            </feDiffuseLighting>

            <feComposite in="f2" in2="SourceGraphic" result="f3" operator="in" />

            <feBlend in="f3" in2="SourceGraphic" mode="multiply" />

        </filter>
    </svg>

    <div class="lede">

        {{ with .Resources.GetMatch "thumb.png" }}
            {{ $image := .Fill "800x600 q75" }}
            <figure class="lede__image-container">
                <a href="{{ $.Page.Params.photoUrl }}" target="_blank">
                    <img class="lede__image" src="{{ $image.Permalink }}" role="presentation">
                    {{ with $.Page.Params.photoDesc }}
                        <figcaption class="lede__caption">{{ . | safeHTML }}</figcaption>
                    {{ end }}
                </a>
            </figure>
        {{ end }}

        <header class="lede__header article__header">
            <div class="lede__meta">
                <time class="lede__date">{{ .Date.Format (i18n "dateFormat") }}</time>
                {{ with .Params.tags }}
                    <ul class="lede__tags">
                        {{ range . }}
                            <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                {{ end }}
            </div>
            <h1 class="lede__heading">{{ .Title }}</h1>
            <div class="lede__summary">
                {{ .Summary }}
            </div>
        </header>

    </div>

    <div class="article__content content">
        {{ .Content }}
    </div>

</article>
{{ end }}