{{ define "main" }}
<main class="article">

    <header class="article__header header">

        {{ with .Resources.GetMatch "thumb.*" }}
            {{ $image := .Fill "1200x800 q75" }}
            <figure class="header__image-container">
                <a href="{{ $.Page.Params.photoUrl }}" target="_blank">
                    <img class="header__image" src="{{ $image.Permalink }}" role="presentation">
                    {{ with $.Page.Params.photoDesc }}
                        <figcaption class="header__caption">{{ . | safeHTML }}</figcaption>
                    {{ end }}
                </a>
            </figure>
        {{ end }}

        <div class="header__content">
            <h1 class="header__title">{{ .Title }}</h1>
            <div class="header__meta">
                <time class="header__date">{{ .Date.Format (i18n "dateFormat") }}</time>
                {{ with .Params.tags }}
                    <ul class="header__tags tags">
                        {{ range . }}
                            <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                {{ end }}
            </div>
        </div>

    </header>

    {{ $dropcap := substr (index (split .Content "<p>") 1) 0 1 }}
    <div class="article__content content content--longform" data-drop-cap="{{ $dropcap }}">
        {{ .Content }}
    </div>

</main>
{{ end }}