<html lang="{{ .Language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0">
    <title>{{ if .Page.Title }}{{ .Page.Title }} — Adam Havel{{ else }}Adam Havel{{ end }}</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css">
    {{ with resources.Get "css/default.scss" | toCSS | postCSS | minify }}
        <style>{{ .Content | safeCSS }}</style>
    {{ end }}
</head>
<body class="body">

    <header class="site-header">

        <div class="site-header__wrapper wrapper">

            <a href="/" class="site-logo"><span><em>A</em> <strong>Havel</strong></span></a>

            <nav class="site-nav">
                <ul>
                    {{ range .Site.Menus.main }}
                        {{ $isActive := (or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .)) }}
                        <li><a href="{{ .URL }}" class="{{ if $isActive }}is-active{{ end }}">{{ .Name }}</a></li>
                    {{ end }}
                    {{ if .IsTranslated }}
                        {{ with (index .Translations 0) }}
                            <li><a lang="{{ .Lang }}" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
                        {{ end}}
                    {{ end }}
                </ul>
            </nav>

        </div>
    </header>

    <div class="site-content">
        <div class="wrapper">
            {{ block "main" . }}{{ end }}
        </div>
    </div>

    <footer class="site-footer">
        <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0">
            <filter id="site-footer__filter" x="0%" y="0%" width="100%" height="100%" filterUnits="userSpaceOnUse">
                <feTurbulence baseFrequency="0.01 0.01" result="f1" numOctaves="3" />
                <feDisplacementMap in="SourceGraphic" in2="f1" scale="70"></feDisplacementMap>
            </filter>
        </svg>
    </footer>

    <script type="module">
        window.addEventListener('hashchange', function(ev) {
            let el = document.querySelector(`[id='${window.location.hash.substr(1)}']`);

            if (el) {
                console.log(el);
                ev.preventDefault();
                el.scrollIntoView({
                    behavior: 'smooth',
                    block: 'center',
                    inline: 'center'
                });
            }
        });
    </script>
</body>
</html>