<!DOCTYPE html>
<html lang="{{ .Language }}">
<head>
    <meta charset="utf-8">
    <link rel="preload" href="/fonts/ibm-plex-sans.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/jost.woff2" as="font" type="font/woff2" crossorigin>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0">
    <meta name="description" content="">
    <title>{{ if .Page.Title }}{{ .Page.Title }} — Adam Havel{{ else }}Adam Havel — developer & designer{{ end }}</title>
    {{ if .IsTranslated }}
        {{ range .Translations }}
            <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
        {{ end }}
    {{ end }}
    {{ with resources.Get "css/default.scss" | toCSS | postCSS | minify }}
        <style>{{ .Content | safeCSS }}</style>
    {{ end }}
</head>
<body class="body">

    <header class="site-header">

        <div class="site-header__wrapper wrapper">

            <a href="/" class="site-logo site-header__logo"><span><em>A</em> <strong>Havel</strong></span></a>

            <nav class="site-nav site-header__nav js-site-nav">
                <button class="site-nav__toggle js-site-nav__toggle" type="button">{{ i18n "goTo" }} …</button>
                <ul class="site-nav__list">
                    {{ range .Site.Menus.main }}
                        {{ $isActive := (or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .)) }}
                        <li class="site-nav__item {{ if $isActive }}is-active{{ end }}"><a class="site-nav__link" href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                    {{ if .IsTranslated }}
                        {{ with (index .Translations 0) }}
                            <li class="site-nav__item" lang="{{ .Lang }}"><a class="site-nav__link" hreflang="{{ .Lang }}" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
                        {{ end}}
                    {{ end }}
                    <li class="site-nav__item site-nav__item--toggle"><button class="site-nav__close js-site-nav__toggle" type="button" aria-label="{{ i18n "close" }}">×</button></li>
                </ul>
            </nav>

            <script>
                let toggles = [].slice.call(document.querySelectorAll('.js-site-nav__toggle'));
                let nav = document.querySelector('.js-site-nav');

                nav.addEventListener('click', function(ev) {
                    if (toggles.indexOf(ev.target) != -1) {
                        nav.classList.toggle('is-active');
                    }
                });
            </script>

        </div>
    </header>

    <div class="site-content">
        <div class="wrapper">
            {{ block "main" . }}{{ end }}
        </div>
    </div>

    <footer class="site-footer">
        <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0">
            <filter id="site-footer__filter" x="0%" y="0%" width="100%" height="100%" filterUnits="userSpaceOnUse">
                <feTurbulence baseFrequency="0.01 0.01" result="f1" numOctaves="3" />
                <feDisplacementMap in="SourceGraphic" in2="f1" scale="70"></feDisplacementMap>
            </filter>
        </svg>
    </footer>

    <script>
        function scrollToHash(ev) {
            let el = document.querySelector(`[id='${window.location.hash.substr(1)}']`);

            if (el) {
                ev.preventDefault();
                el.scrollIntoView({
                    behavior: 'smooth',
                    block: 'center',
                    inline: 'center'
                });
            }
        }

        window.addEventListener('hashchange', scrollToHash);
        window.addEventListener('load', scrollToHash);
    </script>
</body>
</html>