{{ define "main" }}
<div class="index">

    <div class="index__layout">
        <div class="index__headline">{{ .Content }}</div>
        <div class="index__image">
            {{ (resources.Get "img/circle.svg").Content | safeHTML }}
        </div>
    </div>


    <div class="index__cards">

        <section class="card">
            <header class="card__header">
                <h2 class="card__title">Latest project</h2>
            </header>
            <h3 class="card__heading">Kaiser Franz</h3>
            <p class="card__desc">Quas amet porro beatae aut reprehenderit eum ratione sint aspernatur dignissimos non optio accusamus iste harum error odit aliquam modi, eaque, iusto enim a deserunt soluta saepe ad illum. Aspernatur explicabo placeat neque voluptate minus earum velit, consequuntur repellat aut.</p>
            <a href="" class="card__link"></a>
        </section>

        <section class="card">
            {{ with .GetPage "blog" }}
                {{ with (index .Pages.ByDate 1) }}
                    <header class="card__header">
                        <h2 class="card__title">{{ i18n "latestArticle" }}</h2>
                        <time class="card__date">{{ .Date.Format (i18n "dateFormat") }}</time>
                    </header>
                    <h3 class="card__heading">{{ .Title }}</h3>
                    <p class="card__desc">{{ .Summary | plainify }}</p>
                    <a href="{{ .Permalink }}" class="card__link"></a>
                {{ end }}
            {{ end }}
        </section>

        <section class="card">
            {{ $upcoming_workshops := where .Site.Data.workshops "date" "ge" (now.Format "2006-01-02") }}
            {{ $upcoming_workshop := index (where ($upcoming_workshops) "lang" (print .Language)) 0 }}
            {{ with .GetPage (print $upcoming_workshop.id) }}
                <header class="card__header">
                    <h2 class="card__title">{{ i18n "upcomingWorkshop" }}</h2>
                    <time class="card__date">{{ (time $upcoming_workshop.date).Format (i18n "dateFormat") }}</time>
                </header>
                <h3 class="card__heading">{{ .Title }}</h3>
                <p class="card__desc">{{ .Summary | plainify }}</p>
                <a href="{{ .Permalink }}" class="card__link"></a>
            {{ end }}
        </section>

    </div>

</div>
{{ end }}