{{ define "main" }}
<main class="index">

    <div class="index__layout">
        <div class="index__headline">{{ .Content }}</div>
        <div class="index__figure" role="presentation">
            {{ (resources.Get "img/circle.svg").Content | safeHTML }}
        </div>
    </div>

    <section class="index__cards">

        <section class="card">
            {{ with .GetPage "projects" }}
                {{ with (index .Pages 0) }}
                    <header class="card__header">
                        <h2 class="card__title">{{ i18n "latestProject" }}</h2>
                        {{ with .Keywords }}
                            <ul class="card__tags tags">
                                {{ range . }}
                                    <li>{{ . }}</li>
                                {{ end }}
                            </ul>
                        {{ end }}
                    </header>
                    <h3 class="card__heading">{{ .Title }}</h3>
                    <p class="card__desc">{{ .Summary | plainify | safeHTML }}</p>
                    <a href="{{ .Permalink }}" class="card__link"></a>
                {{ end }}
            {{ end }}
        </section>

        <section class="card">
            {{ with .GetPage "blog" }}
                {{ with (index .Pages.ByDate.Reverse 0) }}
                    <header class="card__header">
                        <h2 class="card__title">{{ i18n "latestArticle" }}</h2>
                        <time class="card__date">{{ .Date.Format (i18n "dateFormat") }}</time>
                    </header>
                    <h3 class="card__heading">{{ .Title }}</h3>
                    <p class="card__desc">{{ .Summary | plainify | safeHTML }}</p>
                    <a href="{{ .Permalink }}" class="card__link"></a>
                {{ end }}
            {{ end }}
        </section>

        <section class="card">
            {{ $upcoming_workshops := where .Site.Data.workshops "date" "ge" (now.Format "2006-01-02") }}
            {{ $upcoming_workshop := index (where ($upcoming_workshops) "lang" (print .Language)) 0 }}
            {{ $upcoming_workshop = index $upcoming_workshops 0 }}
            {{ with .GetPage (path.Join "workshops" $upcoming_workshop.id) }}
                <header class="card__header">
                    <h2 class="card__title">{{ i18n "upcomingWorkshop" }}</h2>
                    <time class="card__date">{{ (time $upcoming_workshop.date).Format (i18n "dateFormat") }}</time>
                </header>
                <h3 class="card__heading">{{ .Title }}</h3>
                <p class="card__desc">{{ .Summary | plainify | safeHTML }}</p>
                <a href="{{ .Permalink }}" class="card__link"></a>
            {{ end }}
        </section>

    </section>

</main>
{{ end }}