$colorPrimary: #00b576;
$colorSecondary: #ffab2f;
$colorTertiary: #EC2D24;
$colorBackground: #f8f8fb;
$colorText: rgba(0, 0, 0, .85);

$lineHeight: 1.55;

$fontBody: 'IBM Plex Sans', sans-serif;
$fontDisplay: 'Jost', sans-serif;
$fontMono: 'IBM Plex Mono', monospace;

$layoutWidth: calc(85em + 4vw);
$gutter: 4vw;
$fixedGutter: 2.5rem;

$largeScreen: 88em;
$mediumScreen: 65em;
$smallScreen: 45em;
$tinyScreen: 35em;