$colorPrimary: #00b576;
$colorSecondary: #ffab2f;
$colorTertiary: #EC2D24;
$colorBackground: #f8f8fb;
$colorText: rgba(0, 0, 0, .85);

$lineHeight: 1.5;

$fontBody: 'Proxima Nova', sans-serif;
$fontDisplay: 'Classico URW', sans-serif;

$layoutWidth: 85em;
$gutter: 3vw;

$splitLayoutWidthLeft: 38%;
$splitLayoutWidthRight: 57%;
$splitLayoutGutter: 5%;

$sectionLayoutWidthMain: 60%;
$sectionLayoutWidthAside: 32%;
$sectionLayoutGutter: 8%;
