:root {
    scroll-behavior: smooth;
}

html {
    font-family: $fontBody;
    color: $colorText;
    line-height: $lineHeight;
    font-size: 1em;
}

body {
    background: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $fontBody;
    font-weight: 600;
}

code {
    font-family: 'Hack', monospace;
}

img {
    display: block;
    max-width: 100%;
}

.editable {

    h2, h3, h4, h5, h6 {
        font-weight: 800;
        font-family: $fontDisplay;
        letter-spacing: .02em;
    }
}