.asymmetric-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: $gutter;
    margin-bottom: ($lineHeight * 6rem);
    align-items: start;

    @media (max-width: $mediumScreen) {
        margin-bottom: ($lineHeight * 3rem);
        display: block;
    }
}

    .asymmetric-layout__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1 / 3;
        grid-gap: $gutter;

        @media (max-width: $mediumScreen) {
            margin-bottom: ($lineHeight * 1.5rem);
        }

        @media (max-width: $smallScreen) {
            grid-template-columns: 1fr;
            grid-gap: $lineHeight * 1rem;
        }
    }

    .asymmetric-layout__figure {
        grid-column: 1 / 3;

        @media (max-width: $mediumScreen) {
            margin-bottom: ($lineHeight * 1.5rem);
        }
    }

        .asymmetric-layout__image {}

    .asymmetric-layout__content {
        display: flex;
        flex-direction: column;
        align-self: stretch;
    }

        .asymmetric-layout__heading {
            margin-bottom: ($lineHeight * 2rem);
            margin-left: 30%;

            @media (max-width: $mediumScreen) {
                margin-bottom: ($lineHeight * 1rem);
                margin-left: 0;
                margin-right: calc(75% + #{$gutter / 2});
            }

            @media (max-width: $smallScreen) {
                margin-right: calc(50% + #{$gutter / 2});
            }
        }

        .asymmetric-layout__summary {
            font-weight: 300;
            font-size: 1.125em;
            font-variation-settings: 'wght' 300, 'wdth' 90;
            line-height: 1.65;
            text-align: justify;

            @media (max-width: $mediumScreen) {
                column-count: 2;
                column-gap: $gutter;
            }

            @media (max-width: $smallScreen) {
                columns: 1;
                font-size: 1em;
                text-align: left;
                line-height: $lineHeight;
            }
        }
