.button {
    position: relative;
    display: inline-block;
    padding: .875em 1.5em;
    text-decoration: none;
    font-weight: 500;
    font-size: .875em;
    font-family: $fontDisplay;
    color: rgba(black, .675);
    letter-spacing: .1em;
    border: 3px solid rgba(black, .1);
    border-bottom: none;
    text-transform: uppercase;
    background: fade_out($colorPrimary, .5);
    text-align: center;
    transition: background-color .3s;
    padding-bottom: calc(.875em + 3px);

    &:after {
        bottom: 0;
        left: -3px;
        right: -3px;
        position: absolute;
        content: '';
        height: 3px;
        background: rgba(black, .4);
        transition: background-color .3s;
    }

    &:hover,
    &:focus {
        background: fade_out($colorPrimary, .7);
    }

    &:active {
        background: fade_out($colorPrimary, .3);
    }
}