.card {
    position: relative;
    padding-left: 1.5em;
    overflow: hidden;
    padding-top: $lineHeight * .25rem;
}

    .card__header {
        display: flex;
        align-items: center;
        font-size: .675em;
        opacity: .75;
        letter-spacing: .05em;
        font-weight: 300;

        > *:not(:first-child):before {
            content: '/';
            margin: 0 .6em;
            opacity: .5;
            font-size: 1em;
            font-weight: 300;
        }
    }

        .card__title {
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 400;
            font-family: $fontBody;
            font-size: 1em;
            letter-spacing: .2em;
        }

        .card__date {}

    .card__heading {
        font-size: 1.125em;
        font-weight: 600;
        margin-top: $lineHeight * .75rem;
        font-family: $fontBody;
    }

    .card__desc {
        font-weight: 300;
        margin-top: $lineHeight * .25rem;
    }

    .card__link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-left: .5rem solid rgba(0, 0, 0, .05);
        font-size: 0;
        transition: border-color .3s, transform .2s, opacity .3s;
        transform-origin: left;
        transform: translateZ(0);

        &:hover {
            border-color: $colorPrimary;
            opacity: .75;
            transform: translateZ(0) scaleX(1.25);
        }
    }
