.card {
    position: relative;
    padding-left: 1.5em;
    overflow: hidden;
    padding-top: $lineHeight * .25rem;

    @media (max-width: $smallScreen) {
        padding: 0;
    }
}

    .card__header {
        display: flex;
        align-items: center;
        font-size: .675em;
        opacity: .875;
        letter-spacing: .125em;
        font-weight: 400;
        font-variation-settings: 'wght' 400;

        @media (max-width: $tinyScreen) {
            font-variation-settings: 'wght' 400, 'wdth' 90;
        }

        > *:not(:first-child):before {
            content: '/';
            margin: 0 .6em;
            opacity: .5;
            font-size: 1em;
            font-weight: 300;
            font-variation-settings: 'wght' 300;
        }
    }

        .card__title {
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 400;
            font-variation-settings: 'wght' 400;
            font-family: $fontBody;
            font-size: 1em;
        }

        .card__date {}

    .card__heading {
        font-size: 1.25em;
        font-weight: 500;
        font-variation-settings: 'wght' 500;
        margin-top: $lineHeight * .5rem;
        font-family: $fontDisplay;
        line-height: 1.25;
    }

    .card__desc {
        font-weight: 300;
        font-variation-settings: 'wght' 300;
        margin-top: $lineHeight * .375rem;

        @media (max-width: $smallScreen) {
            margin-top: $lineHeight * .25rem;
        }

        @media (max-width: $tinyScreen) {
            font-variation-settings: 'wght' 300, 'wdth' 90;
        }
    }

    .card__link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-left: .5rem solid rgba(0, 0, 0, .05);
        font-size: 0;
        transition: border-color .3s, transform .2s, opacity .3s;
        transform-origin: left;
        transform: translateZ(0);

        &:hover {
            border-color: $colorPrimary;
            opacity: .75;
            transform: translateZ(0) scaleX(1.25);
        }

        @media (max-width: $smallScreen) {
            display: none;
        }
    }
