.card {
    position: relative;
    padding-left: 1.5em;
    overflow: hidden;
    padding-top: $lineHeight * .25rem;
}

    .card__header {
        display: flex;
        align-items: center;
        font-size: .675rem;
        opacity: .75;
        padding-right: .25em;

        > *:not(:first-child):before {
            content: ' — ';
            margin: 0 .4em;
        }
    }

        .card__title {
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 400;
            font-family: $fontBody;
            letter-spacing: .2em;
            font-size: 1em;
        }

        .card__date {
            letter-spacing: .1em;
        }

    .card__heading {
        font-size: 1.125em;
        font-weight: 800;
        letter-spacing: .0125em;
        margin-top: $lineHeight * .5rem;
        font-family: $fontBody;
    }

    .card__desc {
        font-weight: 300;
        margin-top: $lineHeight * .125rem;
    }

    .card__link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-left: .5rem solid rgba(0, 0, 0, .05);
        font-size: 0;
        transition: border-color .3s, transform .2s, opacity .3s;
        transform-origin: left;
        transform: translateZ(0);

        &:hover {
            border-color: $colorPrimary;
            opacity: .75;
            transform: translateZ(0) scaleX(1.25);
        }
    }
