.content {
    position: relative;
    z-index: 1;

    &--longform {
        font-size: 1.125em;

        &:before {
            content: attr(data-drop-cap);
            font-size: 10em;
            float: left;
            line-height: .8;
            font-weight: 500;
            font-variation-settings: 'wght' 500;
            width: 33.3%;
            margin-top: -.05em;
            text-align: right;
            color: rgba(black, .675);
            text-shadow: 3px 3px 0 rgba(black, .075),
                         -3px -3px 0 rgba(black, .075);
            font-family: $fontDisplay;
            padding: .05em 1.5vw .2em 0;
            background: radial-gradient(farthest-side at right, white, transparent) right no-repeat;
            background-size: 60% 100%;
            border-right: 1px solid rgba(black, .02);
        }

        > p:first-child {
            font-size: 1.25em;
            font-weight: 350;
            font-variation-settings: 'wght' 350;
            margin-bottom: $lineHeight * 3rem;

            &:first-letter {
                font-size: 0;
            }
        }
    }

    > p {
        &:not(:last-child) {
            margin-bottom: $lineHeight * 1rem;
        }

        a:not([class]) {
            display: inline-block;
            text-decoration: none;
            position: relative;
            color: inherit;
            white-space: nowrap;

            &:before {
                content: '';
                position: absolute;
                top: 85%;
                left: 0;
                right: 0;
                background: $colorPrimary;
                opacity: .8;
                height: 8%;
                transition: transform .2s, opacity .5s;
                z-index: -1;
                will-change: transform;
                transform-origin: bottom;
                pointer-events: none;
            }

            &[href^="http"]:before {
                background: $colorSecondary;
            }

            &:hover:before,
            &:focus:before {
                transform: scale(1.1, 14) translateY(10%);
                opacity: .15;
            }
        }
    }

    > h2:not([class]) {
        font-size: 1.5rem;
        font-weight: 600;
        font-variation-settings: 'wght' 600;
        margin-bottom: $lineHeight * .5rem;
        line-height: $lineHeight * 1rem;

        &:not(:first-child) {
            margin-top: $lineHeight * 2.5rem;
        }
    }

    > h3:not([class]) {
        font-size: .875rem;
        font-weight: 600;
        font-variation-settings: 'wght' 600;
        line-height: $lineHeight * 1rem;
        margin-bottom: $lineHeight * .25rem;
        text-transform: uppercase;
        letter-spacing: .2em;

        &:not(:first-child) {
            margin-top: $lineHeight * 1.25rem;
        }
    }

    > ul:not([class]) {
        font-weight: 300;
        font-variation-settings: 'wght' 300;
        margin-bottom: $lineHeight * 1rem;
        font-size: .875em;

        li {
            position: relative;
            padding-left: 1.25em;
            line-height: 1.25;

            &:not(:first-child) {
                margin-top: $lineHeight * .25em;
            }

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: '–';
                font-weight: 300;
                font-variation-settings: 'wght' 300;
                opacity: .5;
            }
        }
    }

    strong {
        font-weight: 500;
        font-variation-settings: 'wght' 500;
    }

    code {
        padding: 0 .075em;
        letter-spacing: -.0125em;
    }

    pre {
        word-wrap: break-word;
        white-space: pre-wrap;
    }
}