.content {
    position: relative;
    z-index: 1;

    &--longform {
        font-size: 1.125em;

        @media (max-width: $smallScreen) {
            font-size: 1em;
        }
    }

    > p {
        font-weight: 300;
        font-variation-settings: 'wght' 300;

        &:not(:last-child) {
            margin-bottom: $lineHeight * 1rem;
        }

        a:not([class]) {
            display: inline-block;
            text-decoration: none;
            position: relative;
            color: inherit;
            white-space: nowrap;

            &:before {
                content: '';
                position: absolute;
                top: 85%;
                left: 0;
                right: 0;
                background: $colorPrimary;
                opacity: .675;
                height: 5%;
                transition: transform .2s, opacity .5s;
                z-index: -1;
                will-change: transform;
                transform-origin: bottom;
                pointer-events: none;
            }

            &:hover:before,
            &:focus:before {
                transform: scale(1.1, 21) translateY(10%);
                opacity: .15;
            }
        }

        @media (max-width: $smallScreen) {
            font-variation-settings: 'wght' 300, 'wdth' 90;
        }
    }

    > h2:not([class]) {
        font-size: 1.5rem;
        font-weight: 600;
        font-variation-settings: 'wght' 600;
        margin-bottom: $lineHeight * .5rem;
        line-height: $lineHeight * 1rem;

        &:not(:first-child) {
            margin-top: $lineHeight * 2.5rem;
        }

        @media (max-width: $smallScreen) {
            font-size: calc(1rem + 1vw);

            &:not(:first-child) {
                margin-top: $lineHeight * 1.5rem;
            }
        }
    }

    > h3:not([class]) {
        font-size: .875rem;
        font-weight: 600;
        font-variation-settings: 'wght' 600;
        line-height: $lineHeight * 1rem;
        margin-bottom: $lineHeight * .25rem;
        text-transform: uppercase;
        letter-spacing: .2em;

        &:not(:first-child) {
            margin-top: $lineHeight * 1.25rem;
        }

        @media (max-width: $smallScreen) {
            font-size: calc(.675rem + .5vw);

            &:not(:first-child) {
                margin-top: $lineHeight * 1rem;
            }
        }
    }

    > ul:not([class]) {
        font-weight: 300;
        font-variation-settings: 'wght' 300;
        margin-bottom: $lineHeight * 1rem;
        font-size: .875em;

        li {
            position: relative;
            padding-left: 1.25em;
            line-height: 1.25;

            &:not(:first-child) {
                margin-top: $lineHeight * .25em;
            }

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: '–';
                font-weight: 300;
                font-variation-settings: 'wght' 300;
                opacity: .5;
            }
        }
    }

    strong {
        font-weight: 500;
        font-variation-settings: 'wght' 500;
    }

    code {
        padding: 0 .075em;
        letter-spacing: -.0125em;
    }

    pre {
        word-wrap: break-word;
        white-space: pre-wrap;
    }
}