.figure {
    display: grid;
    grid-column-gap: $gutter / 2;
    grid-template-columns: 1fr 3fr;

    @media (max-width: $smallScreen) {
        display: block;
    }
}

    .figure__image-container {
        grid-column: 2 / -1;
        grid-row: 1;
        font-size: 0;

        @media (max-width: $smallScreen) {
            margin-bottom: $lineHeight * .5rem;
        }
    }

        .figure__image {}

    .figure__caption {
        grid-column: 1;
        grid-row: 1;
        font-size: .75em;
        text-align: right;
        opacity: .75;
        margin-bottom: -.5em;
        font-variation-settings: 'wdth' 90;

        @media (max-width: $smallScreen) {
            margin-bottom: 0;
            text-align: left;
        }
    }