.header {
    margin-bottom: $lineHeight * 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $gutter;
    align-items: end;

    @media (max-width: $mediumScreen) {
        margin-bottom: $lineHeight * 2rem;
    }

    @media (max-width: $smallScreen) {
        grid-template-columns: 1fr;
        margin-bottom: $lineHeight * 1.5rem;
        grid-row-gap: $lineHeight * 1.5rem;
    }
}

    .header__image-container {}

        .header__image {}

        .header__caption {
            position: absolute;
            top: 101%;
            left: 0;
            opacity: .4;
            font-size: .75em;
            letter-spacing: .05em;
            transition: opacity .3s;

            .header__image-container:hover & {
                opacity: 1;
            }

            a {
                color: $colorText;
                text-decoration: none;
            }
        }

    .header__content {
        margin-bottom: $lineHeight * -.25rem;
    }

        .header__title {
            font-size: 4rem;
            font-weight: 650;
            font-variation-settings: 'wght' 650;
            line-height: 1.125;
            margin-bottom: ($lineHeight * 2rem);
            font-family: $fontDisplay;

            @media (max-width: $largeScreen) {
                font-size: calc(3rem + 2vw);
                margin-bottom: ($lineHeight * 1rem);
            }

            @media (max-width: $mediumScreen) {
                font-size: calc(2rem + 3vw);
            }

            @media (max-width: $smallScreen) {
                font-size: calc(1.5rem + 3vw);
                margin-bottom: ($lineHeight * .5rem);
            }
        }

        .header__meta {
            letter-spacing: .5em;
            font-weight: 400;
            font-variation-settings: 'wght' 400;
            font-size: .875em;
            display: flex;
            flex-wrap: wrap;

            > *:not(:first-child):before {
                display: inline-block;
                content: '/';
                margin: 0 1.25em;
                opacity: .5;
                font-weight: 300;
                font-variation-settings: 'wght' 300;
            }

            @media (max-width: $smallScreen) {
                font-size: calc(.675rem + .25vw);
            }
        }

            .header__date {}

            .header__tags {}

        .header__summary {
            font-size: 1.125em;
            font-weight: 400;
            font-variation-settings: 'wght' 400;

            @media (max-width: $mediumScreen) and (min-width: $smallScreen) {
                font-size: 1em;
            }

            @media (max-width: $smallScreen) {
                font-variation-settings: 'wght' 400, 'wdth' 90;
            }
        }

