.header {
    margin-bottom: $lineHeight * 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $gutter;
    align-items: end;
}

    .header__image-container {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 4px solid black;
            opacity: .075;
            pointer-events: none;
        }
    }

        .header__image {
            width: 100%;
            object-fit: contain;
        }

        .header__caption {
            position: absolute;
            top: 101%;
            left: 0;
            opacity: .4;
            font-size: .75em;
            letter-spacing: .05em;
            xfont-style: italic;
            color: $colorText;
            transition: opacity .3s;

            .header__image-container:hover & {
                opacity: 1;
            }
        }

    .header__content {
        margin-bottom: $lineHeight * -.35rem;
    }

        .header__title {
            font-size: 5rem;
            font-weight: 500;
            line-height: 1.125;
            margin-bottom: ($lineHeight * 2rem);
            font-family: $fontDisplay;
            position: relative;

            &:after {
                xcontent: '';
                display: block;
                height: .2em;
                margin-top: ($lineHeight * 1rem);
                background: rgba(black, .05);
                border: 1px solid rgba(black, .0125);
                border-bottom: 1px solid rgba(black, .05);
            }
        }

        .header__meta {
            xletter-spacing: .025em;
            font-weight: 600;
            font-size: 1.125em;
            display: flex;

            > *:not(:first-child):before {
                display: inline-block;
                content: '/';
                margin: 0 .5em;
                opacity: .5;
                font-weight: 300;
            }
        }

            .header__date {}

            .header__tags {}

