.highlight {
    /* Error */ .err { color: #a61717; }
    /* LineTableTD */ .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
    /* LineTable */ .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
    /* LineHighlight */ .hl { display: block; width: 100%; background-color: #ffffcc }
    /* LineNumbersTable */ .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
    /* LineNumbers */ .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
    /* Keyword */ .k { color: $colorText; xfont-weight: bold }
    /* KeywordConstant */ .kc { color: $colorText; xfont-weight: bold }
    /* KeywordDeclaration */ .kd { color: $colorText; xfont-weight: bold }
    /* KeywordNamespace */ .kn { color: $colorText; xfont-weight: bold }
    /* KeywordPseudo */ .kp { color: $colorText; xfont-weight: bold }
    /* KeywordReserved */ .kr { color: $colorText; xfont-weight: bold }
    /* KeywordType */ .kt { color: $colorText; xfont-weight: bold }
    /* NameAttribute */ .na { color: darken($colorPrimary, 15%) }
    /* NameBuiltin */ .nb { color: darken($colorSecondary, 25%) }
    /* NameBuiltinPseudo */ .bp { color: #999999 }
    /* NameClass */ .nc { color: $colorText; xfont-weight: bold }
    /* NameConstant */ .no { color: darken($colorPrimary, 15%) }
    /* NameDecorator */ .nd { color: #3c5d5d; xfont-weight: bold }
    /* NameEntity */ .ni { color: #800080 }
    /* NameException */ .ne { color: #990000; xfont-weight: bold }
    /* NameFunction */ .nf { color: #990000; xfont-weight: bold }
    /* NameLabel */ .nl { color: #990000; xfont-weight: bold }
    /* NameNamespace */ .nn { color: #555555 }
    /* NameTag */ .nt { color: $colorText }
    /* NameVariable */ .nv { color: darken($colorPrimary, 15%) }
    /* NameVariableClass */ .vc { color: darken($colorPrimary, 15%) }
    /* NameVariableGlobal */ .vg { color: darken($colorPrimary, 15%) }
    /* NameVariableInstance */ .vi { color: darken($colorPrimary, 15%) }
    /* LiteralString */ .s { color: darken($colorTertiary, 20%) }
    /* LiteralStringAffix */ .sa { color: darken($colorTertiary, 20%) }
    /* LiteralStringBacktick */ .sb { color: darken($colorTertiary, 20%) }
    /* LiteralStringChar */ .sc { color: darken($colorTertiary, 20%) }
    /* LiteralStringDelimiter */ .dl { color: darken($colorTertiary, 20%) }
    /* LiteralStringDoc */ .sd { color: darken($colorTertiary, 20%) }
    /* LiteralStringDouble */ .s2 { color: darken($colorTertiary, 20%) }
    /* LiteralStringEscape */ .se { color: darken($colorTertiary, 20%) }
    /* LiteralStringHeredoc */ .sh { color: darken($colorTertiary, 20%) }
    /* LiteralStringInterpol */ .si { color: darken($colorTertiary, 20%) }
    /* LiteralStringOther */ .sx { color: darken($colorTertiary, 20%) }
    /* LiteralStringRegex */ .sr { color: darken($colorPrimary, 15%) }
    /* LiteralStringSingle */ .s1 { color: darken($colorTertiary, 20%) }
    /* LiteralStringSymbol */ .ss { color: #990073 }
    /* LiteralNumber */ .m { color: darken($colorPrimary, 10%) }
    /* LiteralNumberBin */ .mb { color: darken($colorPrimary, 10%) }
    /* LiteralNumberFloat */ .mf { color: darken($colorPrimary, 10%) }
    /* LiteralNumberHex */ .mh { color: darken($colorPrimary, 10%) }
    /* LiteralNumberInteger */ .mi { color: darken($colorPrimary, 10%) }
    /* LiteralNumberIntegerLong */ .il { color: darken($colorPrimary, 10%) }
    /* LiteralNumberOct */ .mo { color: darken($colorPrimary, 10%) }
    /* Operator */ .o { color: $colorText; xfont-weight: bold }
    /* OperatorWord */ .ow { color: $colorText; xfont-weight: bold }
    /* Comment */ .c { color: #999988; font-style: italic }
    /* CommentHashbang */ .ch { color: #999988; font-style: italic }
    /* CommentMultiline */ .cm { color: #999988; font-style: italic }
    /* CommentSingle */ .c1 { color: #999988; font-style: italic }
    /* CommentSpecial */ .cs { color: #999999; xfont-weight: bold; font-style: italic }
    /* CommentPreproc */ .cp { color: #999999; xfont-weight: bold; font-style: italic }
    /* CommentPreprocFile */ .cpf { color: #999999; xfont-weight: bold; font-style: italic }
    /* GenericDeleted */ .gd { color: $colorText; background-color: #ffdddd }
    /* GenericEmph */ .ge { color: $colorText; font-style: italic }
    /* GenericError */ .gr { color: #aa0000 }
    /* GenericHeading */ .gh { color: #999999 }
    /* GenericInserted */ .gi { color: $colorText; background-color: #ddffdd }
    /* GenericOutput */ .go { color: #888888 }
    /* GenericPrompt */ .gp { color: #555555 }
    /* GenericStrong */ .gs { xfont-weight: bold }
    /* GenericSubheading */ .gu { color: #aaaaaa }
    /* GenericTraceback */ .gt { color: #aa0000 }
    /* GenericUnderline */ .gl { text-decoration: underline }
    /* TextWhitespace */ .w { color: #bbbbbb }
}