.past-workshops {
    text-align: right;
    position: relative;
    padding-right: 1.5em;
    display: none;

    &:after {
        content: '';
        position: absolute;
        top: $lineHeight * .125rem;
        bottom: $lineHeight * .125rem;
        right: 0;
        width: .3rem;
        background: $colorTertiary;
        opacity: .25;
    }
}

    .past-workshops__heading {
        text-transform: uppercase;
        letter-spacing: .1em;
        font-size: .75rem;
        margin-bottom: $lineHeight * 2rem;
    }

    .past-workshops__list {

    }

        .past-workshops__item {
            font-size: .875rem;
            letter-spacing: .05em;
            font-weight: 300;

            &:not(:last-child) {
                margin-bottom: $lineHeight * .25rem;
            }
        }
