.related-articles {

}

    .related-articles__heading {
        font-family: $fontDisplay;
        font-weight: 500;
        margin-bottom: $lineHeight * 2rem;
        font-size: 1.75rem;
        display: flex;
        align-items: baseline;

        &:after {
            content: '';
            display: inline-block;
            height: .475em;
            flex-grow: 1;
            margin-left: .5em;
            background: rgba(black, .05);
        }

        @media (max-width: $smallScreen) {
            font-size: calc(1.25rem + 1vw);
            margin-bottom: $lineHeight * 1rem;
        }
    }

    .related-articles__list {

    }

        .related-articles__item {

        }
