.related-articles {
    background: rgba(black, .675);
    color: rgba(white, .925);
    padding: ($lineHeight * 2.5rem) $gutter ($lineHeight * 4rem);

    @media (max-width: $mediumScreen) {
        padding: ($lineHeight * 2rem) $gutter ($lineHeight * 3rem);
    }

    @media (max-width: $smallScreen) {
        padding: ($lineHeight * 1rem) $gutter ($lineHeight * 2rem);
    }
}

    .related-articles__heading {
        font-family: $fontDisplay;
        font-weight: 400;
        font-variation-settings: 'wght' 400;
        margin-bottom: $lineHeight * 2rem;
        font-size: 1.75rem;
        display: flex;
        align-items: baseline;

        &:after {
            content: '';
            display: inline-block;
            height: .475em;
            flex-grow: 1;
            margin-left: .75em;
            background: rgba(black, .125);
        }

        @media (max-width: $smallScreen) {
            font-size: calc(1.25rem + 1vw);
            margin-bottom: $lineHeight * 1rem;
        }
    }

    .related-articles__list {}

        .related-articles__item {

            .image-container:after {
                opacity: .675;
            }
        }
