.site-content {
    background: $colorBackground;
    padding-top: ($lineHeight * 4rem);

    @media (max-width: $mediumScreen) {
        padding-top: $lineHeight * 3rem;
    }

    @media (max-width: $smallScreen) {
        padding-top: ($lineHeight * 1rem);
    }
}