.site-nav {
    font-size: .75em;
    position: relative;
    z-index: 1;
    opacity: .825;

    &:hover,
    &:focus {
        opacity: 1;
    }
}

    .site-nav__list {
        display: flex;
    }

        .site-nav__item {

            &:not(:first-child) {
                margin-left: 2em;
            }

            @media (max-width: $smallScreen) {

                &:not(.is-active):not(:last-child) {
                    display: none;
                }
            }
        }

            .site-nav__link {
                display: block;
                text-decoration: none;
                color: inherit;
                font-weight: 700;
                font-variation-settings: 'wght' 700;
                letter-spacing: .075em;
                font-family: $fontBody;
                position: relative;
                transition: color .1s;
                text-transform: uppercase;

                &:before {
                    content: '';
                    position: absolute;
                    bottom: $lineHeight * -.5rem;
                    left: 0;
                    right: 0;
                    height: $lineHeight * .125rem;
                    background: $colorPrimary;
                    transform-origin: bottom;
                    transform: scaleY(0);
                    transition: transform .2s;
                    opacity: .75;
                }

                &:hover,
                &:focus {

                    &:before {
                        transform: scaleY(2) !important;
                    }
                }

                .site-nav__item.is-active &:before {
                    background: $colorTertiary;
                    transform: none;
                }

                &[lang]:before {
                    background: $colorSecondary;
                }
            }