.site-nav {
    font-size: 1em;
    position: relative;
    z-index: 1;

    ul {
        display: flex;
    }

    li:not(:first-child) {
        margin-left: 1em;
    }

    a {
        display: block;
        text-decoration: none;
        color: inherit;
        font-weight: 500;
        letter-spacing: .075em;
        font-family: $fontBody;
        position: relative;
        transition: color .1s;
        padding: 0 .5em;
        line-height: 1.75;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background: $colorPrimary;
            z-index: -1;
            transition: transform .3s, opacity .2s;
            transform: scaleY(0);
            will-change: transform, opacity;
        }

        &:hover,
        &:focus {

            &:before {
                opacity: .2;
                transform: none;
            }
        }

        &.is-active {
            color: white;

            &:before {
                opacity: 1;
                transform: none;
            }
        }

        &[lang]:before {
            background: $colorSecondary;
            opacity: .2;
            transform: none;
        }
    }
}
