.site-logo {
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
    font-family: $fontBody;
    line-height: .875;

    span {
        display: flex;
        align-items: baseline;
        transition: opacity .2s, transform .2s;
        will-change: transform, opacity;
    }

    em {
        font-style: normal;
        font-weight: 300;
        display: flex;
        align-items: baseline;
        letter-spacing: -.025em;

        &:after {
            height: .69em;
            content: '\\\\\\';
            opacity: .25;
            color: $colorText;
            transform: translateZ(0) skewX(4deg);
            transition: transform .2s, opacity .3s, color .3s;
            transform-origin: bottom left;
        }
    }

    strong {
        margin-left: .2em;
        font-weight: 600;
        transition: transform .3s .05s;
        transform: translateZ(0);
    }

    &:hover {

        em:after {
            transform: translateZ(0) skewX(-37deg);
            opacity: .875;
            color: $colorTertiary;
        }

        strong {
            transform: translateZ(0) translateX(.35em);
        }
    }

    // &:before {
    //     content: '';
    //     display: inline-block;

    //     display: none;
    //     vertical-align: middle;
    //     width: 2em;
    //     height: 2em;
    //     margin-right: .25em;
    //     background: center/contain no-repeat;
    //     background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.573 51.924"><polygon fill="#{darken($colorPrimary, 25%)}" points="27.823,27.496 35.323,49.881 34.078,49.881 24.674,30.26"/><polygon fill="#{darken($colorPrimary, 15%)}" points="29.291,0.248 21.101,7.429 18.707,0.283"/><polygon fill="#{$colorPrimary}" points="21.101,7.429 27.823,27.496 24.674,30.26 0.249,51.676 17.467,0.288 18.707,0.283"/></svg>');
    //     opacity: .9;
    //     position: relative;
    //     z-index: 1;
    //     transition: transform .3s, opacity .3s;
    //     will-change: transform, opacity;
    //     transform-origin: bottom;
    // }
}
