.site-content {
    background: $colorBackground;
    padding: ($lineHeight * 4rem) 0 ($lineHeight * 5rem);

    @media (max-width: $mediumScreen) {
        padding-top: $lineHeight * 3rem;
    }

    @media (max-width: $smallScreen) {
        padding: ($lineHeight * 1rem) 0 ($lineHeight * 3rem);
    }
}