.spot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $gutter / 2;
    grid-row-gap: $lineHeight * .5rem;
    align-items: start;
    position: relative;

    &:not(:last-child) {
        margin-bottom: $lineHeight * 3rem;
    }

    &--small {
        grid-template-columns: 1fr 3fr;

        &:not(:last-child) {
            margin-bottom: $lineHeight * 2rem;
        }
    }

    @media (max-width: $largeScreen) {

        &--vertical {
            grid-template-columns: 1fr;
        }
    }

    @media (max-width: $mediumScreen) {
        grid-column-gap: $gutter;
    }

    @media (max-width: $smallScreen) {
        grid-template-columns: 1fr;

        &:not(:last-child) {
            margin-bottom: $lineHeight * 2rem;
        }
    }
}

    .spot__image-container {

        &:before {
            content: '';
            position: absolute;
            z-index: 3;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: opacity .3s;
            mix-blend-mode: multiply;
            opacity: .001;
            pointer-events: none;
            background: $colorPrimary;
        }

        .spot:hover &:before,
        .spot:focus &:before {
            opacity: .6;
        }
    }

        .spot__image {}

    .spot__content {}

        .spot__header {
            display: flex;
            align-items: center;
            font-size: .75em;
            opacity: .875;
            letter-spacing: .125em;
            font-weight: 450;
            font-variation-settings: 'wght' 450;

            > *:not(:first-child):before {
                display: inline-block;
                content: '/';
                margin: 0 .5em;
                opacity: .5;
                font-weight: 300;
                font-variation-settings: 'wght' 300;
            }

            .spot--small & {
                font-size: .675em;
            }
        }

            .spot__title {
                text-transform: uppercase;
            }

            .spot__date {
                white-space: nowrap;
            }

            .spot__tags {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

        .spot__heading {
            font-size: 1.375em;
            font-weight: 400;
            font-variation-settings: 'wght' 400;
            margin-top: $lineHeight * .75rem;
            font-family: $fontDisplay;
            line-height: 1.25;

            .spot--small & {
                font-size: 1.25em;
                margin-top: $lineHeight * .5rem;
            }

            @media (max-width: $mediumScreen) {
                margin-top: $lineHeight * .25rem !important;
            }

            @media (max-width: $smallScreen) {
                font-size: 1.25em;
            }
        }

        .spot__desc {
            font-weight: 300;
            font-variation-settings: 'wght' 300;
            margin-top: $lineHeight * .5rem;

            .spot--small & {
                font-size: .875em;
                margin-top: $lineHeight * .25rem;
            }

            @media (min-width: $largeScreen) {

                .spot--vertical & {
                    font-variation-settings: 'wght' 300, 'wdth' 95;
                }
            }

            @media (max-width: $smallScreen) {
                margin-top: $lineHeight * .25rem;
                font-variation-settings: 'wght' 300, 'wdth' 95;
            }
        }

        .spot__link {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            font-size: 0;
            z-index: 4;
        }
