.spot {
    position: relative;
    padding-top: $lineHeight * 1.25rem;
    display: flex;
    align-items: flex-start;

    &:not(:last-child) {
        margin-bottom: $lineHeight * 3rem;
    }
}

    .spot__image {
        flex-shrink: 0;
        margin-right: $lineHeight * 1.25rem;
        border: 1px solid rgba(0, 0, 0, .75);
    }

    .spot__content {
        flex-grow: 1;
    }

        .spot__header {
            display: flex;
            align-items: center;
            font-size: .75rem;
            opacity: .75;

            > *:not(:first-child):before {
                content: ' — ';
                margin: 0 .4em;
            }
        }

            .spot__date {
                letter-spacing: .1em;
            }

        .spot__heading {
            font-size: 1.25em;
            font-weight: 800;
            letter-spacing: .0125em;
            margin-top: $lineHeight * .5rem;
            font-family: $fontBody;
        }

        .spot__desc {
            font-weight: 300;
            margin-top: $lineHeight * .125rem;
        }

        .spot__link {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-top: .5rem solid rgba(0, 0, 0, .05);
            font-size: 0;
            transition: border-color .3s, transform .2s, opacity .3s;
            transform-origin: top;
            transform: translateZ(0);

            &:hover {
                border-color: $colorPrimary;
                opacity: .75;
                transform: translateZ(0) scaleY(1.25);
            }
        }
