.spot {
    position: relative;
    display: flex;
    align-items: flex-start;

    &:not(:last-child) {
        margin-bottom: $lineHeight * 3rem;
    }
}

    .spot__image-container {
        flex-shrink: 0;
        margin-right: $lineHeight * 1.5rem;
        margin-top: .275em;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 3px solid black;
            opacity: .1;
        }
    }

        .spot__image {
            width: 300px;
        }

    .spot__content {
        flex-grow: 1;
    }

        .spot__header {
            display: flex;
            align-items: center;
            font-size: .75em;
            opacity: .875;
            letter-spacing: .1em;
            font-weight: 300;

            &:before {
                content: '';
                display: inline-block;
                height: .5rem;
                background: rgba(black, .05);
                flex-grow: 1;
                margin-right: 1.5em;
                border-bottom: 1px solid rgba(black, .025);
                transition: background-color .3s, opacity .3s;
            }

            .spot:hover &:before {
                background: $colorPrimary;
                opacity: .75;
            }

            > *:not(:first-child):before {
                display: inline-block;
                content: '•';
                margin: 0 .5em;
                opacity: .75;
                font-weight: 600;
            }
        }

            .spot__title {
                text-transform: uppercase;
            }

            .spot__date {}

        .spot__heading {
            font-size: 1.25em;
            font-weight: 600;
            letter-spacing: .0125em;
            margin-top: $lineHeight * .625rem;
            font-family: $fontBody;
        }

        .spot__desc {
            font-weight: 300;
            margin-top: $lineHeight * .125rem;
        }

        .spot__link {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            font-size: 0;
        }
