.stack-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $gutter;
    margin-bottom: ($lineHeight * 6rem);

    @media (max-width: $mediumScreen) {
        display: block;
        margin-bottom: ($lineHeight * 3rem);
    }

    @media (max-width: $smallScreen) {
        margin-bottom: ($lineHeight * 2rem);
    }
}

    .stack-layout__figures {
        grid-column: 2 / -1;
    }

        .stack-layout__figure {
            margin-bottom: $gutter;

            @media (max-width: $smallScreen) {
                margin-bottom: ($lineHeight * 1rem);
            }
        }

            .stack-layout__image {}

    .stack-layout__content {

        @media (max-width: $mediumScreen) {
            margin-bottom: $gutter;
        }

        @media (max-width: $smallScreen) {
            margin-bottom: ($lineHeight * 1rem);
        }
    }

        .stack-layout__heading {
            margin-bottom: ($lineHeight * 2rem);
            margin-right: 30%;

            @media (max-width: $mediumScreen) {
                margin-bottom: ($lineHeight * 1rem);
                margin-right: calc(75% + #{$gutter / 2});
            }

            @media (max-width: $smallScreen) {
                margin-right: calc(50% + #{$gutter / 2});
            }
        }

        .stack-layout__summary {
            font-weight: 300;
            font-size: 1.125em;
            font-variation-settings: 'wght' 300, 'wdth' 90;
            line-height: 1.65;
            text-align: justify;

            @media (max-width: $mediumScreen) {
                column-count: 2;
                column-gap: $gutter;
            }

            @media (max-width: $smallScreen) {
                columns: 1;
                font-size: 1em;
                text-align: left;
                line-height: 1.55;
            }
        }
