.standfirst {
    font-size: 1.5em;
    margin-left: calc(33% + #{($gutter / 2)});
    margin-bottom: $lineHeight * 3rem;

    @media (max-width: $mediumScreen) {
        margin-left: 0;
        font-size: calc(1em + .25vw);
        margin-bottom: $lineHeight * 2rem;
    }

    @media (max-width: $smallScreen) {
        margin-bottom: $lineHeight * 1rem;
    }

    &:before {
        position: absolute;
        right: calc(100% + .15em);
        top: .05em;
        content: attr(data-drop-cap);
        font-size: 5em;
        line-height: .8;
        font-weight: 500;
        font-variation-settings: 'wght' 500;
        color: rgba(black, .675);
        font-family: $fontDisplay;

        @media (max-width: $mediumScreen) {
            position: static;
            float: left;
            margin-right: $gutter / 2;
            font-size: calc(8em + 2vw);
        }

        @media (max-width: $smallScreen) {
            padding-right: $gutter / 2;
            font-size: calc(6em + 4vw);
        }
    }

    > p:first-letter {
        font-size: 0;
    }

    &:after {
        display: table;
        clear: both;
        content: '';
    }
}