.workshop-info {
    display: flex;
    flex-direction: column;
}

    .workshop-info__list {

        &:not(:last-child) {
            margin-bottom: $lineHeight * 2rem;
        }
    }

        .workshop-info__item {
            font-weight: 250;
            font-variation-settings: 'wght' 250;
            font-size: 1.125em;

            &:not(:last-child) {
                margin-bottom: $lineHeight * 1rem;
            }

            em {
                font-style: normal;
                font-size: .675em;
            }
        }

            .workshop-info__heading {
                display: block;
                font-weight: 700;
                font-variation-settings: 'wght' 700;
                font-size: .75rem;
                letter-spacing: .1em;
                text-transform: uppercase;
                margin-bottom: $lineHeight * .125rem;
            }

    .workshop-info__register {
        margin: 0 auto;
        margin-bottom: $lineHeight * .5rem;
    }

    .workshop-info__desc {
        font-size: .75rem;
        font-weight: 300;
        font-variation-settings: 'wght' 300;
        text-align: center;
    }
