.article {}

    .article__content {

        > p {
            font-weight: 300;
            font-variation-settings: 'wght' 300;
        }

        &:after {
            display: table;
            clear: both;
            content: '';
        }

        > * {
            margin-left: calc(33.3% + #{($gutter / 2)});
        }

        @media (max-width: $mediumScreen) {

            > * {
                margin-left: 0;
            }
        }

        @media (max-width: $smallScreen) {

            > p {
                font-variation-settings: 'wght' 300, 'wdth' 90;
            }
        }
    }

        .article__ref {
            display: inline-block;
            padding: 0 .15em;
            position: relative;
            line-height: 1;
            font-weight: 600;
            font-variation-settings: 'wght' 600;
            color: darken($colorTertiary, 15%);
            text-decoration: none;

            &:after {
                position: absolute;
                content: '';
                top: 50%;
                left: 50%;
                width: 2em;
                height: 2em;
                background: $colorTertiary;
                opacity: 0;
                border-radius: 50%;
                transform: translate3d(-50%, -53%, 0);
                transition: opacity 1s;
            }

            &:target:after {
                opacity: .1;
            }
        }

        .article__figure {
            clear: left;
            float: left;
            margin-left: 0;

            @media (max-width: $mediumScreen) {
                margin-right: $gutter;
            }

            @media (max-width: $smallScreen) {
                float: none;
                margin-right: 0;
            }

            &--image {
                width: calc(66.6% - #{($gutter / 2)});
                margin: ($lineHeight * 1.5rem) $gutter ($lineHeight * 2rem) 0;

                @media (max-width: $mediumScreen) {
                    width: auto;
                    margin: ($lineHeight * 1.5rem) 0;
                }
            }

            &--quote {
                width: calc(50% - #{($gutter * 3/2)});
                font-family: $fontDisplay;
                margin: ($lineHeight * 2rem) $gutter;
                font-size: 1.75em;
                font-weight: 350;
                text-align: right;

                &:before {
                    content: '';
                    display: block;
                    height: .5em;
                    margin-bottom: ($lineHeight * 1rem);
                    background: black;
                    width: 66.6%;
                    margin-left: auto;
                    opacity: .075;
                }

                @media (max-width: $mediumScreen) {
                    font-size: calc(1em + 1vw);
                    margin: ($lineHeight * .25rem) $gutter ($lineHeight * 1.5rem) $gutter;
                }

                @media (max-width: $smallScreen) {
                    width: auto;
                    margin: ($lineHeight * 2rem) 0;
                    font-size: calc(1em + 1.25vw);
                    text-align: center;

                    &:before {
                        margin-right: auto;
                        margin-bottom: ($lineHeight * .5rem);
                    }
                }
            }

            &--code {
                width: calc(33.3% - #{($gutter / 2)});
                font-size: .875rem;
                line-height: 1.325;
                letter-spacing: -.05em;
                transition: opacity .3s;
                opacity: .5;
                filter: grayscale(1);
                padding-top: $lineHeight * .125rem;

                @media (max-width: $mediumScreen) {
                    width: calc(50% - #{($gutter / 2)});
                    filter: none;
                    opacity: 1;
                }

                @media (max-width: $smallScreen) {
                    width: auto;
                    margin: ($lineHeight * 1.5rem) 0;
                }

                a {
                    opacity: .5;
                    display: flex;
                    align-items: center;
                    transition: opacity .3s;
                    color: $colorTertiary;
                    font-weight: 600;
                    text-decoration: none;
                    margin-bottom: $lineHeight * .5rem;

                    &:after {
                        content: '';
                        height: .5em;
                        background: $colorTertiary;
                        flex-grow: 1;
                        opacity: .125;
                        margin-left: .75em;
                    }
                }

                &:hover,
                &:target {
                    opacity: 1;
                    filter: none;

                    a {
                        opacity: 1;
                    }
                }

                &:not(:last-child) {
                    margin-bottom: $lineHeight * 1.5rem;
                }
            }
        }

        .article__related-articles {
            margin-top: $lineHeight * 5rem;

            @media (max-width: $mediumScreen) {
                margin-top: $lineHeight * 3rem;
            }

            @media (max-width: $smallScreen) {
                margin-top: $lineHeight * 1.5rem;
            }
        }


