.index {}

    .index__layout {
        display: grid;
        margin-bottom: 4em;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 3vw;
    }

        .index__headline {
            font-size: 2em;
            font-weight: 300;
            font-family: $fontDisplay;
            position: relative;
            z-index: 1;

            a {
                position: relative;
                text-decoration: none;
                color: inherit;

                &:before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    background: $colorPrimary;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: .125em;
                    opacity: .2;
                    will-change: opacity, transform;
                    transition: opacity .3s, transform .2s;
                    transform-origin: bottom;
                    transform: scaleY(3) scaleX(1.025);
                }

                &:hover:before {
                    opacity: 1;
                    transform: none;
                }
            }
        }

        .index__image {}

    .index__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 4%;
        align-items: start;
    }
