.index {
    overflow: hidden;
}

    .index__layout {
        display: grid;
        margin-bottom: $lineHeight * 4rem;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: $gutter;

        @media (max-width: $mediumScreen) {
            grid-template-columns: 1fr;
            margin-bottom: $lineHeight * 3rem;
        }

        @media (max-width: $smallScreen) {
            margin-bottom: $lineHeight * 2rem;
        }
    }

        .index__headline {
            font-size: 2.25em;
            font-size: calc(1.125em + .975vw);
            font-weight: 300;
            font-variation-settings: 'wght' 300;
            font-family: $fontDisplay;
            position: relative;
            z-index: 1;
            line-height: 1.75;
            text-align: right;

            @media (max-width: $largeScreen) {
                font-size: calc(1em + 1.25vw);
            }

            @media (max-width: $mediumScreen) {
                text-align: center;
            }

            @media (max-width: $smallScreen) {
                font-size: calc(1em + 1.125vw);
                font-weight: 350;
                font-variation-settings: 'wght' 350;
            }

            a {
                position: relative;
                text-decoration: none;
                color: inherit;

                &:before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    background: $colorPrimary;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: .125em;
                    opacity: .2;
                    will-change: opacity, transform;
                    transition: opacity .3s, transform .2s;
                    transform-origin: bottom;
                    transform: scaleY(3) scaleX(1.025);
                }

                &:hover:before,
                &:focus:before {
                    opacity: 1;
                    transform: none;
                }
            }
        }

        .index__figure {
            position: relative;

            &:after {
                xcontent: '';
                position: absolute;
                width: 33.5%;
                height: 24%;
                background: linear-gradient(45deg, $colorPrimary, $colorSecondary);
                image-rendering: pixelated;
                top: 13%;
                left: 29.5%;
                transform: rotate(-.25deg);
                border-radius: 3%;
            }

            @media (max-width: $mediumScreen) {
                order: -1;
                max-width: 60%;
                margin: 0 auto;
            }

            @media (max-width: $smallScreen) {
                max-width: 100%;
            }
        }

            .index__mac {

            }

    .index__content {

        @media (max-width: $mediumScreen) {
            background: rgba(black, .0325);
            padding: ($lineHeight * 1.5rem) 0 ($lineHeight * 3rem);
        }

        @media (max-width: $smallScreen) {
            padding: ($lineHeight * 1rem) 0 ($lineHeight * 2rem);
        }
    }

        .index__cards {
            display: grid;
            position: relative;
            grid-template-columns: repeat(3, 1fr);
            grid-row-gap: $lineHeight * 2rem;
            perspective: 4000px;
            margin-bottom: ($lineHeight * -2rem);

            @media (max-width: $mediumScreen) {
                grid-template-columns: 1fr;
                perspective: 0;
                margin-bottom: 0;

                &:before,
                &:after {
                    display: none;
                }
            }
        }

            .index__card {
                padding: ($lineHeight * 2.5rem) ($gutter / 2) ($lineHeight * 5rem);
                transform-style: preserve-3d;
                border: solid rgba(black, .0275);
                border-width: 1px 0 0 1px;

                &:before,
                &:after {
                    position: absolute;
                    top: -1px;
                    bottom: -50%;
                    width: 200%;
                    border: solid rgba(black, .0275);
                    border-width: 1px 0 0 1px;
                }

                @media (max-width: $mediumScreen) {

                    &:before,
                    &:after {
                        display: none !important;
                    }
                }

                &:first-child {
                    background: rgba(black, .0325);
                    transform: rotateY(15deg) translateX(1px);
                    transform-origin: right;

                    &:before {
                        content: '';
                        right: 100%;
                        background: rgba(black, .125);
                        transform: skewY(-10deg);
                        transform-origin: top right;
                    }
                }

                &:nth-child(2) {
                    background: rgba(black, .06);
                }

                &:nth-child(3) {
                    background: rgba(black, .04);
                    transform: rotateY(10deg) translateX(-1px);
                    transform-origin: left;

                    &:before {
                        content: '';
                        left: 100%;
                        background: rgba(black, .075);
                        transform: skewY(-10deg);
                        transform-origin: top left;
                    }
                }

                @media (max-width: $mediumScreen) {
                    padding: 0 !important;
                    transform: none !important;
                    background: none !important;
                }
            }
