.index {}

    .index__layout {
        display: grid;
        margin-bottom: $lineHeight * 4rem;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: $gutter;

        @media (max-width: $mediumScreen) {
            grid-template-columns: 1fr;
            margin-bottom: $lineHeight * 3rem;
        }

        @media (max-width: $smallScreen) {
            margin-bottom: $lineHeight * 2rem;
        }
    }

        .index__headline {
            font-size: 2.25em;
            font-size: calc(1.125em + .975vw);
            font-weight: 300;
            font-variation-settings: 'wght' 300;
            font-family: $fontDisplay;
            position: relative;
            z-index: 1;
            line-height: 1.75;

            @media (max-width: $largeScreen) {
                font-size: calc(1em + 1.25vw);
            }

            @media (max-width: $mediumScreen) {
                text-align: center;
            }

            @media (max-width: $smallScreen) {
                font-size: calc(1em + 1.125vw);
                font-weight: 350;
                font-variation-settings: 'wght' 350;
            }

            a {
                position: relative;
                text-decoration: none;
                color: inherit;

                &:before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    background: $colorPrimary;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: .125em;
                    opacity: .2;
                    will-change: opacity, transform;
                    transition: opacity .3s, transform .2s;
                    transform-origin: bottom;
                    transform: scaleY(3) scaleX(1.025);
                }

                &:hover:before {
                    opacity: 1;
                    transform: none;
                }
            }
        }

        .index__figure {
            position: relative;

            @media (max-width: $mediumScreen) {
                order: -1;
                max-width: 60%;
                margin: 0 auto;
            }

            @media (max-width: $smallScreen) {
                max-width: 100%;
            }
        }

    .index__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: $gutter;
        grid-row-gap: $lineHeight * 2rem;

        @media (max-width: $mediumScreen) {
            grid-template-columns: 1fr;
        }
    }
