.project {
    padding-top: $lineHeight * 2rem;
}

    .project__header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: $gutter;
        margin-bottom: ($lineHeight * 6rem);
    }

        .project__lede {
            display: flex;
            flex-direction: column;
        }

            .project__meta {
                margin-bottom: auto;
                letter-spacing: .375em;
                font-weight: 400;
                font-size: .875em;
                margin-top: -.25em;
                text-align: right;
            }

                .project__date {
                    display: block;
                }

                .project__tags {
                    justify-content: flex-end;
                }

            .project__title {
                font-size: 5rem;
                font-weight: 700;
                font-variation-settings: 'wght' 700;
                line-height: .875;
                margin-bottom: ($lineHeight * 1.25rem);
                font-family: $fontDisplay;
            }

            .project__summary {
                font-size: 1.25em;
                font-weight: 350;
                margin-bottom: -.45em;
                font-variation-settings: 'wght' 350, 'wdth' 90;
                line-height: 1.65;
                text-align: justify;
            }

        .project__image-container {
            grid-column: 2 / 4;
        }

            .project__image {}

    .project__content {

        > p:first-of-type {
            display: none;
        }
    }


.project__inspiration {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: $gutter;
    margin-bottom: ($lineHeight * 6rem);
    align-items: start;
}

    .project__inspiration-photo {}

    .project__inspiration-content {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        grid-column: 3 / 5;
    }

        .project__inspiration-heading {
            font-weight: 700;
            line-height: 1;
            font-variation-settings: 'wght' 700;
            text-transform: uppercase;
            font-size: 1.5rem;
            margin-bottom: ($lineHeight * 2rem);
            display: flex;
            font-family: $fontDisplay;
            justify-content: space-between;
            margin-left: calc(50% + #{$gutter / 2});
        }

        .project__inspiration-desc {
            font-weight: 300;
            font-size: 1.125em;
            font-variation-settings: 'wght' 300;
            text-align: justify;

            > :not(:last-child) {
                margin-bottom: ($lineHeight * 1rem);
            }
        }

        .project__inspiration-caption {
            margin-bottom: -.45em;
            font-weight: 400;
            font-size: .875em;
            margin-right: calc(50% + #{$gutter / 2});
            letter-spacing: .05em;
            counter-reset: caption;
            margin-top: auto;

            li {
                display: flex;
                justify-content: space-between;

                &:before {
                    counter-increment: caption;
                    content: counter(caption);
                    font-weight: 300;
                    opacity: .75;
                }
            }
        }

.project__showcase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: $gutter;
    margin-bottom: ($lineHeight * 6rem);
    align-items: start;
}

    .project__showcase-photo {
        grid-column: 1 / 3;
    }

    .project__showcase-content {
        display: flex;
        flex-direction: column;
        align-self: stretch;
    }

        .project__showcase-heading {
            font-weight: 700;
            line-height: 1;
            font-variation-settings: 'wght' 700;
            text-transform: uppercase;
            font-size: 1.5rem;
            margin-bottom: ($lineHeight * 2rem);
            display: flex;
            font-family: $fontDisplay;
            justify-content: space-between;
            margin-left: 30%;
        }

        .project__showcase-desc {
            font-weight: 300;
            font-size: 1.125em;
            font-variation-settings: 'wght' 300, 'wdth' 90;
            line-height: 1.65;
            text-align: justify;
        }

.project__web {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 2fr 1fr 2fr;
    grid-gap: $gutter;
    margin-bottom: ($lineHeight * 6rem);
    align-items: start;
}

    .project__web-photo {
        position: relative;
        background: rgba(black, .05);
        border: 1px solid rgba(black, .025);

        img {
            border: 1px solid rgba(black, .025);
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            box-shadow: inset 0 0 1px 0 rgba(black, .05);
            background: rgba(black, .05);
        }

        &--mobile {
            grid-column: 1 / 3;
            grid-row: 2;
            padding: 25% 5%;
            border-radius: 10%/6%;

            &:before {
                transform: translateX(-50%);
                left: 50%;
                top: 7%;
                width: 15%;
                height: 2%;
                border-radius: 10%/50%;
            }

            &:after {
                bottom: 2.25%;
                left: 50%;
                width: 15%;
                padding-bottom: 15%;
                transform: translateX(-50%);
                border-radius: 50%;
            }
        }

        &--tablet {
            grid-column: 4 / -1;
            grid-row: 1;
            padding: 3% 8%;
            border-radius: 4%/6%;

            &:before {
                top: 50%;
                left: 4%;
                width: 4%;
                padding-bottom: 4%;
                border-radius: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &--web {
            grid-column: 3 / -1;
            grid-row: 2;

            padding: 3% 3%;
            border-radius: 1%/1.75%;
            margin-bottom: 16%;

            &:before {
                top: 100.25%;
                left: 50%;
                width: 10%;
                transform: translateX(-50%);
                padding-bottom: 15%;
                opacity: .75;
                box-shadow: none;
            }

            &:after {
                top: 125.5%;
                left: 50%;
                width: 30%;
                transform: translateX(-50%);
                padding-bottom: 1%;
                opacity: .75;
                box-shadow: none;
            }
        }
    }

    .project__web-content {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        grid-column: 1 / 4;
    }

        .project__web-heading {
            font-weight: 700;
            line-height: 1;
            font-variation-settings: 'wght' 700;
            text-transform: uppercase;
            font-size: 1.5rem;
            margin-bottom: ($lineHeight * 2rem);
            display: flex;
            font-family: $fontDisplay;
            justify-content: space-between;
            margin-right: calc(50% + #{$gutter / 2});
        }

        .project__web-desc {
            font-weight: 300;
            xfont-size: 1.125em;
            font-variation-settings: 'wght' 300, 'wdth' 90;
            text-align: justify;
            column-count: 2;
            column-gap: $gutter;

            > :not(:last-child) {
                margin-bottom: ($lineHeight * 1rem);
            }
        }

