.project {
    padding-top: $lineHeight * 2rem;
}

    .project__header {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: $gutter;
        margin-bottom: ($lineHeight * 3rem);
    }

        .project__lede {
            display: flex;
            flex-direction: column;
        }

            .project__meta {
                margin-bottom: auto;
                letter-spacing: .375em;
                font-weight: 400;
                font-size: .875em;
                margin-top: -.25em;
                text-align: right;
            }

                .project__date {
                    display: block;
                }

                .project__tags {
                    justify-content: flex-end;
                }

            .project__title {
                font-size: 5rem;
                font-weight: 700;
                font-variation-settings: 'wght' 700;
                line-height: .875;
                margin-bottom: ($lineHeight * 1.25rem);
                font-family: $fontDisplay;
            }

            .project__summary {
                font-size: 1.25em;
                font-weight: 350;
                margin-bottom: -.45em;
                font-variation-settings: 'wght' 350, 'wdth' 90;
            }

        .project__image-container {}

            .project__image {}

    .project__content {

        > p:first-of-type {
            display: none;
        }
    }


.project__inspiration {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-column-gap: $gutter;
    align-items: start;
    margin-bottom: ($lineHeight * 3rem);
}

    .project__inspiration-photo {
        filter: grayscale(.5);
    }

    .project__inspiration-content {}

        .project__inspiration-heading {
            font-weight: 500;
            line-height: 1;
            font-variation-settings: 'wght' 500, 'wdth' 85;
            text-transform: uppercase;
            font-size: 2rem;
            margin-bottom: ($lineHeight * 1.5rem);
            display: flex;
            justify-content: space-between;
            margin-right: calc(50% + #{$gutter / 2});
        }

        .project__inspiration-desc {
            font-weight: 300;
            font-size: 1.125em;
            font-variation-settings: 'wght' 300;
        }
