.project {
    padding-top: $lineHeight * 2rem;
}

    .project__header {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: $gutter;
        margin-bottom: ($lineHeight * 5rem);
    }

        .project__lede {
            display: flex;
            flex-direction: column;
        }

            .project__meta {
                margin-bottom: auto;
                letter-spacing: .375em;
                font-weight: 400;
                font-size: .875em;
                margin-top: -.25em;
                text-align: right;
            }

                .project__date {
                    display: block;
                }

                .project__tags {
                    justify-content: flex-end;
                }

            .project__title {
                font-size: 5rem;
                font-weight: 700;
                font-variation-settings: 'wght' 700;
                line-height: .875;
                margin-bottom: ($lineHeight * 1.25rem);
                font-family: $fontDisplay;
            }

            .project__summary {
                font-size: 1.25em;
                font-weight: 350;
                margin-bottom: -.45em;
                font-variation-settings: 'wght' 350, 'wdth' 90;
                line-height: 1.75;
            }

        .project__image-container {}

            .project__image {}

    .project__content {

        > p:first-of-type {
            display: none;
        }
    }


.project__inspiration {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-column-gap: $gutter / 2;
    margin-bottom: ($lineHeight * 5rem);
    align-items: start;
}

    .project__inspiration-photo {
        filter: grayscale(.5);
    }

    .project__inspiration-content {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        justify-content: space-between;
    }

        .project__inspiration-heading {
            font-weight: 700;
            line-height: 1;
            font-variation-settings: 'wght' 700;
            text-transform: uppercase;
            font-size: 1.5rem;
            margin-bottom: ($lineHeight * 2rem);
            display: flex;
            font-family: $fontDisplay;
            justify-content: space-between;
            margin-left: calc(50% + #{$gutter / 4});
        }

        .project__inspiration-desc {
            font-weight: 300;
            font-size: 1.125em;
            font-variation-settings: 'wght' 300, 'wdth' 85;
            column-count: 2;
            column-gap: $gutter / 2;
            text-align: justify;
            margin-bottom: ($lineHeight * 2rem);
            line-height: 1.75;
        }

        .project__inspiration-caption {
            margin-bottom: -.45em;
            font-weight: 400;
            font-size: .875em;
            margin-right: calc(50% + #{$gutter / 4});
            letter-spacing: .05em;
            counter-reset: caption;
            xmargin-top: auto;

            li {
                display: flex;
                justify-content: space-between;

                &:before {
                    counter-increment: caption;
                    content: counter(caption);
                    font-weight: 300;
                    opacity: .75;
                }
            }
        }

.project__showcase {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: $gutter;
    margin-bottom: ($lineHeight * 5rem);
    align-items: start;
}

    .project__showcase-photo {

    }

    .project__showcase-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: stretch;
    }

        .project__showcase-heading {
            font-weight: 700;
            line-height: 1;
            font-variation-settings: 'wght' 700;
            text-transform: uppercase;
            font-size: 1.5rem;
            margin-bottom: ($lineHeight * 2rem);
            display: flex;
            font-family: $fontDisplay;
            justify-content: space-between;
            margin-left: 30%;
        }

        .project__showcase-desc {
            font-weight: 300;
            font-size: 1.25em;
            font-variation-settings: 'wght' 300, 'wdth' 90;
            line-height: 1.75;
            text-align: justify;
        }

