.workshop {
    padding-top: $lineHeight * 2rem;
}

    .workshop__layout {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: $gutter;
    }

        .workshop__aside {
            margin-top: .25em;
            padding-left: $gutter;
        }

        .workshop__content {
            grid-column: 2 / -1;

            > p {
                font-weight: 300;
                font-variation-settings: 'wght' 300;
            }

            > p:first-of-type {
                display: none;
            }
        }
