.workshop {
    margin-top: ($lineHeight * 2rem);
}

    .workshop__aside {
        float: left;
        width: 35%;//$splitLayoutWidthLeft;
    }

    .workshop__main {
        margin-left: 40%;//$splitLayoutWidthLeft + $splitLayoutGutter;
        width: 55%;
    }

        .workshop__content {
            > :first-child {
                display: none;
            }
        }