.workshop {
    padding-top: $lineHeight * 2rem;
}

    .workshop__layout {}

        .workshop__aside {
            float: left;
            width: $splitLayoutWidthLeft - $splitLayoutGutter;
            margin-left: $splitLayoutGutter;
            margin-top: .25em;
        }

        .workshop__content {
            margin-left: $splitLayoutWidthLeft + $splitLayoutGutter;

            > :first-child {
                display: none;
            }
        }